<div class="toolbar">
    <!-- Main action buttons -->
    <button mat-raised-button color="primary" (click)="createNewTask.emit()">New Task</button>
    <button mat-raised-button color="warn" (click)="deleteSelectedTask.emit()">Delete</button>
    <button mat-raised-button (click)="refreshTasks.emit()">Refresh</button>
    <button mat-raised-button (click)="applyFilter.emit()">Filter</button>
    <button mat-raised-button (click)="editSelectedTask.emit()">Edit</button>
    <button mat-raised-button (click)="toggleView.emit()">
        {{ isTableView ? 'Board View' : 'Table View' }}
    </button>

    <!-- Column selector menu -->
    <button mat-button [matMenuTriggerFor]="columnsMenu">
        Columns
        <mat-icon style="vertical-align: middle;">keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #columnsMenu="matMenu">
        <button mat-menu-item *ngFor="let col of columns">
            <mat-checkbox [(ngModel)]="col.visible" (click)="$event.stopPropagation()">
                {{ col.name }}
            </mat-checkbox>
        </button>
        <mat-divider></mat-divider>
        <!-- Only Excel export -->
        <button mat-menu-item (click)="exportToExcel.emit()">
            <mat-icon>description</mat-icon>
            <span>Export to Excel</span>
        </button>
    </mat-menu>
</div>